/* .nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: #212832 !important;
} */

:root {
  --white: #ffffff;
  --primary-1: #def0f1;
  --primary-2: #3aafaa;
  --primary-3: #2a7a78;
  --primary-4: #17242b;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

/* ////////////////////// */
/* Global Styling */
/* ////////////////////// */

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #1e1d4c;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #5e6282;
  margin: 0 !important;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #14183e;
  font-size: 5rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
.section-margin-bottom {
  margin-bottom: 12rem;
}

/* ////////////////////// */
/* Services  Section */
/* ////////////////////// */
.services > .container {
  margin-top: 6rem;
}

.services__service {
  padding: 0rem 4.9rem;
}

.services__passages {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #5e6282;
}

/* ////////////////////// */
/* Destinations Section */
/* ////////////////////// */
.destinations > .container {
  margin-top: 6rem;
}

.destinations__img {
  width: 100% !important;
  height: 337px !important;
  border-radius: 24px 24px 0% 0%;
}

.Decor {
  position: relative;
}

.Decor::before {
  position: absolute;
  content: " ";
  background: url(./images/Decore.png) no-repeat scroll 0 0 / 100% 100%;
  z-index: -1;
  top: 111px;
  right: -36px;
  width: 80px;
  height: 213px;
}

@media only screen and (max-width: 768px) {
  .Decor::before {
    display: none;
  }
}

/* ////////////////////// */
/* Booking  Section */
/* ////////////////////// */
.booking__right {
  box-shadow: 0 0 20px rgb(190, 187, 187);
  border-radius: 8px;
  background-color: #fff;
  margin-left: 8%;
  position: relative;
}

.booking__right::before {
  position: absolute;
  content: " ";
  background: url(./images/bookinkBackground.png) no-repeat scroll 0 0 / 100%
    100%;
  z-index: -1;
  width: 551px;
  height: 597px;
}

.booking__img img {
  width: 100%;
}

.booking__rightTitle {
  color: #080809;
}

.booking__content {
  position: relative;
}

.booking__card {
  position: absolute;
  top: 92px;
  left: 215px;
  padding: 1rem 0.5rem;
  box-shadow: 0 0 20px rgb(190, 187, 187);
  border-radius: 8px;
  background-color: #fff;
}

.booking__percentage {
  color: #8a79df;
}

@media only screen and (max-width: 1365px) {
  .booking__card {
    display: none;
  }
  .booking__right::before {
    display: none;
  }
  .booking__right {
    margin-left: 0;
  }
}

/* ////////////////////// */
/* Subscribe Section */
/* ////////////////////// */
.subscribe {
  font-family: "Poppins", sans-serif;
}

.subscribe__img {
  background: url(/images/subscribe.png) no-repeat scroll 0 0 / 100% 100%;
  position: relative;
}

.subscribe__img::before {
  position: absolute;
  content: " ";
  background: url(./images/jahaz.png) no-repeat scroll 0 0 / 100% 100%;
  z-index: 2;
  top: -23px;
  right: -24px;
  width: 70px;
  height: 70px;
}

@media only screen and (max-width: 768px) {
  .subscribe__img::before {
    top: -6px;
    left: 8px;
    width: 60px;
    height: 60px;
  }
}

.subscribe__title {
  font-weight: 600;
  font-size: 33px;
  color: #5e6282;
  max-width: 859px;
  margin: auto;
  text-align: center;
  line-height: 54px;
  padding-top: 79px;
  padding-bottom: 74px;
}

@media only screen and (max-width: 768px) {
  .subscribe__title {
    font-size: 24px;
    line-height: 40px;
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

.form {
  padding-bottom: 78px;
}

.form > input {
  font-weight: 400;
  font-size: 18px;
  color: #5e6282;
  width: 421px;
  height: 68px;
  border: none;
  padding-left: 16px;
  border-radius: 10px;
  margin-right: 24px;
}

.form-btn {
  background-color: #ff946d;
  font-weight: 700;
  font-size: 17px;
  color: white !important;
  border-radius: 10px;
  height: 68px;
  padding: 0rem 4rem;
  padding-left: 5rem;
}

@media only screen and (max-width: 768px) {
  .form > input {
    width: 281px;
    height: 58px;
    padding-left: 18px;
    border-radius: 6px;
    margin-right: 0px;
  }

  .form-btn {
    height: 50px;
    padding: 0rem 2rem;
    padding-left: 2.2rem;
    margin-top: 1.4rem;
  }
}

/* ////////////////////// */
/* Footer  */
/* ////////////////////// */

footer {
  font-family: "Poppins", sans-serif;
}

.footer__title {
  font-size: 4.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.footer__description {
  font-size: 1.3rem;
  font-weight: 500;
  color: #5e6282;
  max-width: 20.7rem;
}

.footer__headings {
  font-size: 2.1rem;
  font-weight: 700;
  color: #080809;
  margin-bottom: 3.7rem;
}

.footer__ul > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #707070;
}

.footer__ul > li {
  margin-bottom: 0.4rem;
}

.footer__icons img {
  margin-top: -2.7rem;
  margin-left: -2.4rem;
}

.icons__title {
  font-weight: 500;
  font-size: 2rem;
  color: #5e6282;
  margin-top: -0.7rem;
  margin-left: 1.1rem;
  margin-bottom: 2rem;
}

.footer__discover > img {
  margin: 0rem 0.7rem;
}

.footer__rights {
  font-weight: 500;
  font-size: 1.4rem;
  color: #707070;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 768px) {
  .footer__icons img {
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .footer__headings {
    margin-bottom: 2rem;
  }
  .footer__description {
    margin-bottom: 2rem !important;
  }
}
